
#submit{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.heading{
    align-content: center;
    text-align: center;
   
  
}
span{
  color: red;
}

img{
 width: 120px;
 height : 120px;
}